/* HEADER */
header {
  display: flex;
  background-color: black;
  color: white;
  padding: 1% 2.5%;
  width: 100%;
}

.hnav {
  display: flex;
  width: 100%;
}

.hdivizq {
  display: flex;
  align-items: center;
  text-align: left;
  width: 87%;
}

.hdivizq form {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.hdivizq input[type="search"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
  font-size: 14px;
  width: 200px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.hdivizq input[type="search"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.hdivizq button[type="submit"] {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hdivizq button[type="submit"]:hover {
  background-color: #0056b3;
}

.hdivder {
  display: flex;
  width: 33%;
  text-align: right;
  justify-content: flex-end;
}
