/* PERFILES */
.perfilIndex,
.perfilPage1,
.perfilPage2,
.perfilPage3,
.perfilPage4,
.perfilPage5 {
  border: 1px solid #ccc;
  background-color: white;
  width: 70%;
  height: auto;
  padding: 1%;
  border-radius: 1%;
  margin: 1%;
}

.perfilIndex,
.perfilPage2,
.perfilPage3,
.perfilPage4 {
  gap: 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.perfilPage5 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arribaPage1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.arribaPage1 img {
  width: 75%;
  height: auto;
  border-radius: 2%;
}

.abajoPage1 {
  display: flex;
}

.izquierdaIndex {
  height: 40%;
  width: 60%;
  text-align: center;
  align-items: center;
  padding: 1vh;
}
.izquierdaIndex img {
  width: 85%;
  height: auto;
  border-radius: 2%;
  margin-bottom: auto;
}

.derechaIndex {
  display: flex;
  flex-direction: column;
  width: 60%;
  line-height: 150%;
  margin-top: 0%;
  padding-top: 0;
}

.izquierdaPage2 {
  margin-top: 0;
  height: 40%;
  width: 40%;
  text-align: center;
  align-items: center;
  padding-top: 0;
}
.izquierdaPage2 img {
  width: 85%;
  height: auto;
  border-radius: 2%;
  margin-bottom: auto;
}

.derechaPage2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  line-height: 150%;
  margin-top: 0%;
  padding-top: 0;
}

.izquierdaPage3 {
  display: flex;
  flex-direction: column;
  width: 40%;
  line-height: 150%;
  margin-top: 0%;
  padding-top: 0;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.izquierdaPage3 img {
  width: 95%;
  height: auto;
  border-radius: 2%;
}

.derechaPage3 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: auto;
  width: 60%;
  align-items: center;
  margin-top: 0;
  padding: 1vh;
}
.derechaPage3 img {
  width: 90%;
  height: auto;
  border-radius: 2%;
  margin-bottom: auto;
}

.izquierdaPage5 {
  margin-top: 0;
  height: 40%;
  width: 100%;
  text-align: center;
  align-items: center;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.izquierdaPage5 .proyecto {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.izquierdaPage5 .img-container {
  width: 50%;
  display: flex;
  justify-content: center;
}
.izquierdaPage5 .img-container img {
  width: 100%;
  max-width: 200vh;
  height: auto;
  border-radius: 2%;
}
.izquierdaPage5 .text-container {
  width: 50%;
}
.izquierdaPage5 .text-container p {
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.derechaPage5 {
  display: flex;
  flex-direction: column;
  width: 60%;
  line-height: 150%;
  margin-top: 0%;
  padding-top: 0;
}
